body {
    margin: 0;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}

/* navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 60px 2px 60px;
    height: 40px;
    

    font-size: 14px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    
    border-bottom: 1px solid rgba(155, 155, 155, 0.411);
}

.nytimes-logo {
    height: 26px;
    cursor: pointer;
}

.button {
    height: 35px;
    margin-right: 10px;

    color: white;
    font-weight: 600;
    font-size: 11px;

    border: 1px solid #326891;
    background-color: #567b95;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    
}

.nav-icons {
    margin-right: 25px;
}

/* main page */

h1 {
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    line-height: 135%;
    margin: 0;
    padding-bottom: 2vh;
    border-bottom: 1px solid #f0eded;
  }

main {
    display: block;
    width: 85%;
    margin: 60px auto;
  }
