body {
    margin: 0;
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}

/* navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 40px;
    

    font-size: 16px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    
    border-bottom: 1px solid rgba(155, 155, 155, 0.411);
}

.nytimes-logo {
    height: 28px;
    cursor: pointer;
}

.button {
    height: 35px;
    margin-right: 10px;

    color: white;
    font-weight: 600;
    font-size: 11px;

    border: 1px solid #326891;
    background-color: #567b95;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    
}

.nav-icons {
    margin-right: 25px;
}

/* Social media icons */

.social-icons {
    display: flex;
    align-items: center;
  }

.social-icons {
    display: flex;
    align-items: center;
  }
  
.social-icons i, .social-icons ion-icon {
    border: 1px solid rgb(243, 242, 242);
    margin-right: 1vw;
    padding: 5px 7px;
    font-size: 16px;
    border-radius: 50%;
    background-color: rgb(243, 242, 242);
    box-sizing: border-box;
    cursor: pointer;
  }
  
.social-icons ion-icon {
    font-size: 25px;
    background-color: #fff;
    padding: 3px 0;
    border: 1px solid white;
  }
  

