body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* navigation bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 40px;
    

    font-size: 16px;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 0.05em;
    
    border-bottom: 1px solid rgba(155, 155, 155, 0.411);
}

.nytimes-logo {
    height: 28px;
}

.button {
    height: 35px;
    margin-right: 10px;

    color: white;
    font-weight: 600;
    font-size: 11px;

    border: 1px solid #326891;
    background-color: #567b95;
    border-radius: 3px;
    box-sizing: border-box;
    
}

.nav-icons {
    margin-right: 25px;
}

/* main page */

h1 {
    color: #121212;
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    font-weight: 700;
    font-style: italic;
    font-size: 36px;
    line-height: 135%;
    margin: 0;
    padding-bottom: 2vh;
    border-bottom: 1px solid #f0eded;
  }

  main {
    display: grid;
    width: 60%;
    margin: 5vh auto;
    grid-template-columns: 12% 1fr 12%;
    grid-gap: 2vh;
    box-sizing: border-box;
  }
  
  main > * {
    grid-column: 2 / 2;
  }
  
  .contents {
    grid-column: 2 / 3;
  }
  
  .contents-wide {
    grid-column: 1 / 4;
    margin-bottom: 3vh;
  }

  .social-icons {
    display: flex;
    align-items: center;
  }

  .social-icons {
    display: flex;
    align-items: center;
  }
  
  .social-icons i, .social-icons ion-icon {
    border: 1px solid rgb(243, 242, 242);
    margin-right: 1vw;
    padding: 5px 7px;
    font-size: 12px;
    border-radius: 50%;
    background-color: rgb(243, 242, 242);
    box-sizing: border-box;
  }
  
  .social-icons .fa-facebook-f {
    padding: 6px 9px;
  }
  
  .social-icons i:hover {
    background-color: white;
    border: 1px solid var(--border-gray);
    cursor: pointer;
  }
  
  .social-icons ion-icon {
    font-size: 25px;
    background-color: #fff;
    padding: 3px 0;
    border: 1px solid white;
  }
  
  .social-icons ion-icon:hover {
    opacity: 0.5;
    cursor: pointer;
  }